:root {
  --primary-violet: #24053e;
  --primary-green: #44ffa1;
  --heading-font: "Fraunces", serif;
  --regular-font: "Manrope", serif;
}

body {
  /* max-width: 375px; */
  font-family: var(--regular-font);
}

.container {
  padding: 0 1.25rem;
  margin: 0 auto;
  text-align: center;
}

header,
.hero {
  background-color: var(--primary-violet);
}

/* header */

header {
  padding-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  color: white;
  border-bottom: 3px solid #44ffa1;
  font-family: var(--regular-font);
  font-size: 18px;
}

/* hero section */

.hero {
  color: white;
  padding: 3.5rem 0 10.5rem;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: clamp(24px, calc(24px + (100vw - 375px) * (48 / 1065)), 72px);
  background: url("/img/ornamental.svg") no-repeat center bottom;
  background-size: 100% auto;
}

.hero h1 {
  font-family: var(--heading-font);
  font-size: 2.7rem;
  line-height: 1;
}

.hero span {
  display: inline-block;
  border-bottom: 3px solid var(--primary-green);
}

.btn-primary {
  color: var(--primary-violet);
  background-color: var(--primary-green);
  font-weight: 700;
  padding: 0.75em 2em;
  margin-top: 2.5em;
}

.hero-img {
  position: absolute;
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
  height: 184px;
  align-content: center;
  z-index: 100;
}

/* info section */
