:root {
  --primary-violet: #24053e;
  --primary-green: #44ffa1;
  --heading-font: "Fraunces", serif;
  --regular-font: "Manrope", serif;
}

body {
  max-width: 375px;
  font-family: var(--regular-font);
  color: var(--primary-violet);
}

.container {
  padding: 0 1.25rem;
  margin: 0 auto;
  text-align: center;
}

header,
.hero {
  background-color: var(--primary-violet);
}

.hero h1,
.info h2,
.info-item div,
.apply-box h3 {
  font-family: var(--heading-font);
}

/* header */

header {
  padding-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  color: white;
  border-bottom: 3px solid #44ffa1;
  font-family: var(--regular-font);
  font-size: 18px;
}

/* hero section */

.hero {
  color: white;
  padding: 3.5rem 0 10.5rem;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: clamp(24px, calc(24px + (100vw - 375px) * (48 / 1065)), 72px);
  background: url("/img/ornamental.svg") no-repeat center bottom;
  background-size: 100% auto;
}

.hero h1 {
  font-size: 2.7rem;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.hero span {
  display: inline-block;
  border-bottom: 3px solid var(--primary-green);
}

.btn-primary {
  color: var(--primary-violet);
  background-color: var(--primary-green);
  font-weight: 700;
  padding: 0.75em 2em;
}

.hero-img {
  position: absolute;
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
  height: 184px;
  align-content: center;
  z-index: 100;
}

/* info section */

.info {
  background-color: #fcf8ff;
  padding-bottom: 5.5rem;
  position: relative;
}

.info::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: clamp(24px, calc(24px + (100vw - 375px) * (48 / 1065)), 72px);
  background: url("/img/ornamental-white.svg") no-repeat center bottom;
  background-size: 100% auto;
}

.info .container {
  padding-top: 9.25rem;
  display: grid;
  grid-template-rows: repeat(auto, 3);
  gap: 2rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item div {
  border: 1px solid var(--primary-violet);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  align-content: center;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.info-item h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.info-item p {
  line-height: 1.8;
}

/* apply section */

.apply .container {
  padding-top: 7rem;
  margin: 0 auto;
}

.apply .container img {
  width: 280px;
  margin: 0 auto;
  margin-bottom: -4rem;
}

.apply-box {
  background-color: #24053e;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 100;
}

.apply-box h3 {
  font-size: 2rem;
  font-weight: 500;
}

.apply-box p {
  line-height: 1.8;
}
